/*= @group Color
---------------------------------------------------------------------- */

  /*= @group Common
  ---------------------------------------------------------------------- */

  html { -webkit-tap-highlight-color: $tap-highlight-color; }
  body { color: $text-color; background-color: $background-color; }

  /* Selections */
  /* Must be declared separately */
  // Is there a better way to do this
  @each $prefix in "::-moz-selection", "::selection" {
    #{$prefix} {
      color: $selection-color;
      background: $selection-background-color;
    }
  }

  ins, mark { background-color: $highlight-color; }

  a:link {
    color: $link-default-color;
    border-color: $link-default-color;
  }
  a:visited   { color: $link-visited-color; }
  a:hover     { color: $link-hover-color;   }
  a:active    { color: $link-active-color;  }

  code {
    color: $code-color;
    background-color: $code-background-color;
  }
  pre, .code {
    color: $pre-color;
    background-color: $pre-background-color;
  }

  /* Colors for form validity */
  input:valid, textarea:valid { background-color: $success-color; }
  input:invalid, textarea:invalid { background-color: $error-color; }

  // Just some examples
  // h1, h2, h3, h4, h5, h6 { color: $primary-color; }
  // h5, h6 { $secondary-color }
  // abbr[title], dfn[title] { border-color: $highlight-color; }


  /*= @group Layout
  ---------------------------------------------------------------------- */

  /*= @group Module
  ---------------------------------------------------------------------- */

  /*= @group State
  ---------------------------------------------------------------------- */
