/*= @group Color
---------------------------------------------------------------------- */

  /*= @group Unique
  ---------------------------------------------------------------------- */
  // Elements which have mostly unique color values, e.g., links, selections, code

  html { -webkit-tap-highlight-color: $tap-highlight-color; }

  /* Selections */
  /* Must be declared separately */
  ::-moz-selection { background: $selection-background-color; color: $selection-color; }
  ::selection { background: $selection-background-color; color: $selection-color; }

  a:link {
    color: $link-default-color;
    border-color: $link-default-color;
  }
  a:visited   { color: $link-visited-color; }
  a:hover     { color: $link-hover-color;   }
  a:active    { color: $link-active-color;  }

  code {
    color: $code-color;
    background-color: $code-background-color;
  }
  pre, .code {
    color: $pre-color;
    background-color: $pre-background-color;
  }

  /*= @group Common
  ---------------------------------------------------------------------- */

  body { color: $text-color; background-color: $background-color; }
  // Just some examples
  // h1, h2, h3, h4, h5, h6 { color: $primary-color; }
  // h5, h6 { $secondary-color }
  // abbr[title], dfn[title] { border-color: $highlight-color; }

  /*= @group Layout
  ---------------------------------------------------------------------- */

  /*= @group Module
  ---------------------------------------------------------------------- */

  /*= @group State
  ---------------------------------------------------------------------- */
