/*= @group Elements
---------------------------------------------------------------------- */
// Based on HTML5 Boilerplate default styles

  /*= @group Typography
  ---------------------------------------------------------------------- */

  body { font: $font-weight-normal #{$base-fs/16*100}%/($base-lh/$base-fs) sans-serif; }

    /*= @group Font Stacks
    ---------------------------------------------------------------------- */

    /* Default font stack */
    body, select, input, textarea, button { font-family: $font-family-default; }

    /* Display font stack */
    h1,h2,h3,h4,h5,h6 { font-family: $font-family-display; }

    /* Alternate font stack */
    blockquote, figcaption { font-family: $font-family-serif;  }

    // /* Caption font stack, should be suitable for smaller sizes */
    // e.g. [role=contentinfo], .caption { font-family: $font-family-caption; }

    /* Monospace font stack, for code samples and preformatted content */
    pre, code, kbd, samp { font-family: $font-family-monospace; }

    /*= @group Headings
    ---------------------------------------------------------------------- */

    h1, h2, h3, h4, h5, h6  { font-style: normal; }
    h1, h2, h3              { font-weight: $font-weight-semibold; }
    h4, h5, h6              { font-weight: $font-weight-normal; }

    h1 { font-size: rs(32); margin: 0 0 rs(21,32) 0; }
    h2 { font-size: rs(28); margin: rs(21,28) 0 rs(7,28) 0; }
    h3 { font-size: rs(24); margin: rs(21,24) 0 rs(7,24) 0; }
    h4 { font-size: rs(21); margin: rs(21,21) 0 rs(7,21) 0; }
    h5 { font-size: rs(18); margin: rs(21,18) 0 rs(7,18) 0; }
    h5 { font-size: rs(16); margin: rs(21,16) 0 rs(7,16) 0; }

    /*= @group Links
    ---------------------------------------------------------------------- */
    // Declared: link, visited, hover, active

    a {
      text-decoration: none;
      border-bottom: 1px dotted $color-link-default;
      word-wrap: break-word;
    }

    a           { color: $color-link-default; }
    a:visited   { color: $color-link-visited; }
    a:hover     { color: $color-link-hover;   }
    a:active    { color: $color-link-active;  }

    a:focus { outline: thin dotted; }
    a:hover, a:active { outline: 0; }

    /*= @group Text Level Elements
    ---------------------------------------------------------------------- */

    /* Default margins */
    p, ul, ol, dl  { margin: 0 0 rs($base-lh) 0; }

    /* Lists */
    ul, ol, dl            { padding: 0; }
    ul ul, ol ol, dl dl   { margin-bottom: 0; }
    ul li, ol li          { margin-left: rs($base-lh,$base-fs); }
    ul li                 { list-style: disc outside; }
    ol li                 { list-style: outside decimal; }
    ul li ul              { margin: rs($base-lh/2) 0 0 rs($base-fs); }
    dl dt                 { font-weight: bold; }
    dl dd                 { margin: 0 0 rs($base-fs) 0; }

    nav ul, nav ol, .nav li, nav ol {
      list-style: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
    }

    /* Text Marking */
    b, strong, mark { font-weight: bold; }
    dfn, mark { font-style: italic; }
    ins, mark {
      color: invert($color-highlight);
      background-color: $color-highlight;
    }
    ins { text-decoration: none; }
    del { text-decoration: line-through; }

    abbr[title], dfn[title] {
      cursor: help;
      border-bottom: 1px dotted;
    }
    .initialism {
      font-size: 90%;
      text-transform: uppercase;
    }

    // Position subscript and superscript content without affecting line-height: h5bp.com/k
    sub, sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }


  /*= @group Embeded Content
  ---------------------------------------------------------------------- */

  /* _width hack is for IE6 and below */
  img, embed, object, video { max-width: 100%; _width: 100%; }
  img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

  /* Correct overflow displayed oddly in IE9 */
  svg:not(:root) { overflow: hidden; }


  /*= @group Figures
  ---------------------------------------------------------------------- */

  figure { margin: 0; }


  /*= @group Quotes
  ---------------------------------------------------------------------- */

  q { quotes: none; }
  q:before, q:after { content: ""; content: none; }
  q, cite, blockquote { font-style: italic; }

  blockquote {

  }

  /*= @group Code
  ---------------------------------------------------------------------- */

  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  code  {
    padding: 0 .2em;
    color: $color-code;
    background-color: $color-code-background;
  }
  pre, .code {
    color: $color-pre;
    background-color: $color-pre-background;
    margin-bottom: relative-size($base-lh);
    padding: 1em relative-size($base-lh);
  }
  pre code, .code code {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .code li {
    list-style-type: decimal-leading-zero;
  }

  /*= @group Tables
  ---------------------------------------------------------------------- */

  table { border-collapse: collapse; border-spacing: 0; }
  td { vertical-align: top; }

  /*= @group Forms
  ---------------------------------------------------------------------- */
  // From HTML5 Boilerplate

  form { margin: 0; }
  fieldset { border: 0; margin: 0; padding: 0; }

  // Indicate that 'label' will shift focus to the associated form element
  label { cursor: pointer; }

  // 1. Correct color not inheriting in IE6/7/8/9
  // 2. Correct alignment displayed oddly in IE6/7
  legend { border: 0; *margin-left: -7px; padding: 0; }

  // 1. Correct font-size not inheriting in all browsers
  // 2. Remove margins in FF3/4 S5 Chrome
  // 3. Define consistent vertical alignment display in all browsers
  button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

  // 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
  button, input { line-height: normal; }

  // 1. Display hand cursor for clickable form elements
  // 2. Allow styling of clickable form elements in iOS
  // 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
  button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

  // Consistent box sizing and appearance
  input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
  input[type="search"] {
    -webkit-appearance: textfield;
    @each $prefix in "-moz-", "-webkit-", "" { #{$prefix}box-sizing: content-box; }
  }
  input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

  // Remove inner padding and border in FF3/4: h5bp.com/l
  button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

  // 1. Remove default vertical scrollbar in IE6/7/8/9
  // 2. Allow only vertical resizing
  textarea { overflow: auto; vertical-align: top; resize: vertical; }
