/*= @group RESET
---------------------------------------------------------------------- */
/*
  Based on normalize.css
  http://html5boilerplate.com/docs/The-style/
  http://necolas.github.com/normalize.css/
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  @each $prefix in webkit, ms { -#{$prefix}-text-size-adjust: 100%; }
  -webkit-tap-highlight-color: $tap-highlight-color;
}
body { margin: 0; }

/* Selections */
/* Must be declared separately */
@each $prefix in "::-moz-selection", "::selection" {
  #{$prefix} {
    text-shadow: none;
    color: $selection-color;
    background: $selection-background-color;
  }
}