/*= @group Layout
---------------------------------------------------------------------- */
// Example layout styles, delete me

.l-constrained {
  width: 85%;
  max-width: 720px;
  margin: 0 auto;
}

body {
  color: $color-text;
  background-color: $color-background;
}

[role="banner"] {

}

[role="main"] {

  margin-top: 2em;

}

[role="contentinfo"] {

}
