/*= @group Articles - Example Module, Delete Me
---------------------------------------------------------------------- */

  .lead, .lede {
    font-size: rs(21);
    line-height: rs( $base-lh * 1.5, 21 );
    font-style: italic;
  }

  .article-listing {

    > * { @include box-sizing(border-box); }

    .entry-meta {
      font-family: $font-family-sans;
      .updated { font-weight: $font-weight-bold; color: $color-note; }
    }

    .entry-content { }
      .entry-title { margin-top: 0; }

    @include respond-min($breakpoint-mid) {

      .entry-meta {
        float: left;
        width: 20%;
        margin-top: rs($base-fs,$base-fs);
        padding: 0 rs($base-lh,$base-fs,rem) 0 0;
      }

      .entry-content {
        float: right;
        width: 80%;
        padding: 0 0 0 rs($base-lh,$base-fs);
        border-left: 2px dotted $color-muted;
      }

    }

  }