/*= @group Example
---------------------------------------------------------------------- */

  .article-listing {

    > * { @include box-sizing(border-box); }

    .entry-meta {
      color: $color-secondary;
      font-family: $font-family-sans;
    }

    .entry-content { }
      .entry-title { margin-top: 0; }

    @include respond-min(45em) {

      .entry-meta {
        float: left;
        width: 20%;
        margin-top: rs($base-fs,$base-fs,rem);
        padding: 0 rs($base-lh,$base-fs,rem) 0 0;
      }

      .entry-content {
        float: right;
        width: 80%;
        padding: 0 0 0 rs($base-lh,$base-fs,rem);
        border-left: 2px dotted $color-muted;
      }

    }

  }