// Variables

// Colour Scheme
// =============
// To avoid confusion with CSS properties,
// colour scheme variable names use american english _color_


// These are just suggestions

// Main colour palette
$primary-color                : #2b306a;
$secondary-color              : #06c0db;
$muted-color                  : #eef;
$highlight-color              : #ff9600;
$note-color                   : #666;

// Common colours
$text-color                   : #242424;
$background-color             : #fefefe;

$link-default-color           : #242424;
$link-visited-color           : #444;
$link-hover-color             : pink;
$link-active-color            : yellow;

$code-color                   : #333;
$code-background-color        : #f3f3f3;
$pre-color                    : #d4d4d4;
$pre-background-color         : #333;

$selection-color              : #b3d4fc;

// Messages
$message-color                : #f4ecbb;
$success-color                : #2cde2c;
$warning-color                : #cf8600;
$important-color              : #d00;
$notice-color                 : #66b;


// Font Stacks
// ===========

$sans-family                  : "PT Sans", sans-serif;
$serif-family                 : "PT Serif", Georgia, serif;
$display-family               : "PT Sans Narrow", sans-serif;
$caption-family               : "PT Sans Caption", Verdana, sans-serif;
$monospace-family             : "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;

$default-family               : $serif-family;
$base-fs                      : 16; // Base font-size
$base-lh                      : 24; // Base line-height

$sans-family                  : Verdana, sans-serif;
$serif-family                 : Georgia, serif;
$default-family               : $sans-family;
$display-family               : "Helvetica Neue", Helvetica, Arial, sans-serif;
$caption-family               : Verdana, sans-serif;
$monospace-family             : "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;
