// Variables

// Colour Scheme
// =============
// To avoid confusion with CSS properties,
// colour scheme variable names use american english _color_


// These are just suggestions, use whatever works for your project.
// Main colour palette
$primary-color                : #2b306a;
$secondary-color              : #fef;
$muted-color                  : #eef;
$highlight-color              : #ff9600;
$note-color                   : #666;

// Common colours
$text-color                   : #242424;
$background-color             : #fefefe;

$link-default-color           : #242424;
$link-visited-color           : #444;
$link-hover-color             : pink;
$link-active-color            : yellow;

$code-color                   : #333;
$code-background-color        : #f3f3f3;
$pre-color                    : #d4d4d4;
$pre-background-color         : #333;

$selection-color              : white;
$selection-background-color   : green;
$tap-highlight-color          : rgb(0,0,0);

// Messages
$message-color                : #f4ecbb;
$success-color                : #2cde2c;
$warning-color                : #cf8600;
$important-color              : #d00;
$notice-color                 : #66b;


// Font Stacks
// ===========

$base-fs                      : 16; // Base font-size
$base-lh                      : 24; // Base line-height

$display-family               : "Helvetica Neue", Helvetica, Arial, sans-serif;
$caption-family               : verdana, sans-serif;
$sans-family                  : verdana, sans-serif;
$serif-family                 : georgia, serif;
$monospace-family             : "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;
