// Variables

// Colour Scheme
// =============
// To avoid confusion with CSS properties,
// colour scheme variable names use american english _color_


// These are just suggestions

// Main colour palette
$color-primary                : #2b306a;
$color-secondary              : #06c0db;
$color-highlight              : #ff9600;
$color-muted                  : #eef;
$color-note                   : #666;

// Common colours
$color-text                   : #242424;
$color-background             : #fefefe;
$color-border                 : #ddd;

// Links
$color-link-default           : #242424;
$color-link-visited           : #444;
$color-link-hover             : pink;
$color-link-active            : yellow;

// Code
$color-code                   : #333;
$color-code-background        : #f3f3f3;
$color-pre                    : #d4d4d4;
$color-pre-background         : #333;

// Selections
$color-selection              : #b3d4fc;

// Messages
$color-message                : #f4ecbb;
$color-success                : #2cde2c;
$color-warning                : #cf8600;
$color-important              : #d00;
$color-notice                 : #66b;


// Base Sizes
// ==========

// Included shorthands as these may be used a lot.

$base-font-size               : 16;
$base-line-height             : 24;
$base-fs                      : $base-font-size;
$base-lh                      : $base-line-height;


// Font Stacks
// ===========

$font-family-sans             : "PT Sans", sans-serif;
$font-family-serif            : "PT Serif", Georgia, serif;
$font-family-display          : "PT Sans Narrow", sans-serif;
$font-family-caption          : "PT Sans Caption", Verdana, sans-serif;
$font-family-monospace        : "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;

$font-family-default          : $font-family-serif;


// Font Weights
// ============

$font-weight-light             : 300;
$font-weight-normal            : 400;
$font-weight-semibold          : 700;
$font-weight-bold              : 900;


// Breakpoints
// ===========
// There are no common breakpoints so these are just a suggestion
// You'll need to define your own breakpoints to suit your design

$breakpoint-narrow: 30em;
$breakpoint-mid: 48em;
$breakpoint-wide: 60em;
$breakpoint-huge: 100em;