/*  ========================================================================== */
/*  @group Layout */
/*  ========================================================================== */

/*  ========================================================================== */
/*  @group Layout Helpers */
/*  ========================================================================== */

    // * { @include box-sizing(border-box); }

    .l-constrained {

        width: 95%;
        max-width: 60em;
        margin: 0 auto;

        @media only screen and (min-width: $breakpoint-narrow) {
            width: 90%;
        }

    }


/*  ========================================================================== */
/*  @group Header */
/*  ========================================================================== */

    [role="banner"] {

    }

/*  ========================================================================== */
/*  @group Main */
/*  ========================================================================== */

    [role="main"] {

        margin-bottom: 1em;

        @include respond-min($breakpoint-mid) {
            width: 72.5%;
            margin-left: 2.5%;
            float: right;
        }

    }

    [role="complementary"] {

        @include respond-min($breakpoint-mid) {
            margin-right: 2.5;
            width: 22.5%;
            float: left;
        }

    }

/*  ========================================================================== */
/*  @group Footer */
/*  ========================================================================== */

    [role="contentinfo"] {

    }
